@font-face {
    font-family: 'Gilroy-Medium';
    src: url('fonts/Gilroy-Medium.woff2');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.eot') format('embedded-opentype'),
        url('fonts/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/Gilroy-Bold.woff2');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.eot') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('fonts/Gilroy-Semibold.woff2');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('fonts/Gilroy-Semibold.woff') format('woff'),
        url('fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('fonts/Gilroy-Regular.woff2');
    src: local('fonts/Gilroy Regular'), local('Gilroy-Regular'),
        url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?b9e1mq');
    src:  url('fonts/icomoon.eot?b9e1mq#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?b9e1mq') format('truetype'),
      url('fonts/icomoon.woff?b9e1mq') format('woff'),
      url('fonts/icomoon.svg?b9e1mq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

.social_img {
    display: flex;
    width: 130px;
}

.icon_bcg {
    display: grid;
    text-align: center;
    align-content: center;
    width: 30px;
    height: 28px;
    margin-right: 5%;
    border-radius: 8px;
    background: #F2F2F2;
}

.icon-Icon-:before {
    content: "\e900";
    color: #313131;
}

.icon-Icon-1:before {
    content: "\e901";
    color: #313131;
}

.icon-Icon-2:before {
    content: "\e902";
    color: #313131;
}

body {
    position: relative;
    margin: auto;

    background: #FFFFFF;
}

.main {
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background: #F2F2F2;
}

.header a {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    text-decoration: none;
}

.header a:target {

}

.header_title {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;

    color: #313131;
}

.header_title h1 {
    margin: auto 0;
    font-family: 'Gilroy-Bold';
}

.header_right {
    display: flex;
}

.header_nadavigation_elements {
    display: flex;
}

.header_nadavigation_element {
    margin: auto 20px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    color: #313131;
}

.header_sign {
    display: flex;
}

.header_sign_element {
    flex: 1 1 auto;
    margin: auto 20px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    color: #313131;
}

.header_signUp_botton {
    width: 150px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    background: #49AD09;
    border-radius: 5px;
}

.header_signUp_botton:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.10);
}

.header_ellipse {
    position: absolute;
    right: -6%;
    top: -7%;
}

.hero_content {
    position: relative;
    width: 100%;
    height: 901px;
    margin-bottom: 75px;

    background: #F2F2F2;
}

.central_hero_content_block {
    position: absolute;
    width: 490px;
    margin: 0;              
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.central_hero_content_block h1 {
    font-family: 'Gilroy-Bold';
    font-weight: 900;
    font-size: 78px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #313131;
}

.central_hero_content_block p {
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    font-size: 18px;
    line-height: 147.9%;
    text-align: center;

    color: #514040;
}

.site_types {
    font-family: 'Gilroy-Bold';
    font-weight: 800;
    font-size: 78px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #49AD09;
}

.central_hero_content_block_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    padding: 15px;

    transition: 1s;

    font-family: 'Gilroy Medium';
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #FFFFFF;

    background: #49AD09;
    border-radius: 5px;
}

.central_hero_content_block_button:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.10);
}

.central_hero_content_block_link {
    font-family: 'Gilroy Medium';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;

    color: #514040;
}

.hero_content_left_img {
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
}

.hero_content_right_img {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
}

@media (max-width: 400) {
    .hero_content_right_img,
    .hero_content_left_img {
        width: 20%;
    }
    .central_hero_content_block {
        width: 55%;
    }
    .hero_content {
        height: 650px;
    }

    .portfolio_cards {
        width: 90%;
    }

    .portfolio_img {

    }
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 140px auto;
}

.logo_img {
    padding: 0 130px;
    align-self: center;
}

.block_titles {
    text-align: center;
    margin: 0 auto;
    max-width: 440px;
}

.block_title {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 21px;

    color: #514040;
}

.block_title_2 {
    font-family: 'Gilroy-Regular';
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 80px;

    color: #313131;
}

/* service */

.services {
    margin-bottom: 140px;
}

.service_cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.service_card_1:hover,
.service_card_2:hover,
.service_card_3:hover,
.service_card_4:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border: 1px solid #ffffff;
}

.service_card_1,
.service_card_2,
.service_card_3,
.service_card_4 {
    width: 385px;
    padding: 40px 30px;
    margin: 3% 3%;

    border: 1px solid #EDEDED;
    border-radius: 5px;

    transition: 1s;
}

.service_card_titles{
    display: flex;
    text-align: center;
    margin: 0;
    
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    line-height: 147.9%;

    color: #313131;
}

.service_card_title_img {
    align-self: center;
    margin-right: 15px;
}

.service_card_text {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.9%;

    color: #514040;
}

.service_links {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 147.9%;

    color: #313131;
}

.service_links:active {
    color: #49AD09;
}

/* portfolio */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 65%;
    margin: 0 auto 140px auto;
    
}

/* !!!! */

.portfolio_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.portfolio_card_1 {
    padding: 0 50px 70px 0;
}

.portfolio_card_2 {
    padding: 55px 0 70px 0;
}

.portfolio_card_3 {
    padding: 0 50px 55px 0;
}

.portfolio_card_4 {
    padding: 55px 0 70px 0;
}

.portfolio_card_titles {
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    line-height: 33px;
    text-align: left;

    color: #000000;
}

.portfolio_links {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    color: #49AD09;
}

.portfolio_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio_button {
    width: 255px;
    height: 60px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #FFFFFF;

    background: #49AD09;
    border-radius: 5px;
}

.portfolio_button:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.10);
}

/* testimonials */

.testimonials {
    position: relative;

    max-width: 75%;
    margin: 0 auto 140px auto;
}

.testimonials_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.testimonial_card {
    width: 380px;
    padding: 40px 30px;
    margin: 1% auto;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    
    transition: 1s;
}

.testimonial_card:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;

    border: 1px solid #ffffff;
}

.testimonial_title,
.testimonial_name {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #32435C;
}

.testimonial_text {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.01em;

    color: #6A635B;
}

.testimonials_button {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.testimonials_button_ikons {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.testimonials_button_base {
    position: absolute;
}

.testimonials_button_fill {
    position: absolute;
    transform: translate(-15%, -40%);
}

.testimonials_button_icon {
    position: absolute;
    transform: translate(85%, -55%)
}

.testimonials_button_icon_1 {
    position: absolute;
    transform: translateX(-150%);
}

.testimonials_bcg {
    position: absolute;
    z-index: -1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* pricing */

.pricing {
    text-align: center;
    margin: 0 auto 140px auto;
}

.pricing_cards {
    width: 75%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.pricing_card {
    margin: 2%;

    width: 360px;
    height: 510px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    transition: 1s;
    background-color: #FFFFFF;
}

.pricing_card:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;
    background-color: #FFFFFF;
}

.pricing_cards ul {
    list-style-image: url('../img/list_marker.png');
    text-align: left;
}

.pricing_cards li {
    font-family: 'Gilroy-Semibold';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #514040;
}

.pricing_card_title {
    font-family: 'Gilroy-Regular';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #313131;
}

.price {
    font-family: 'Gilroy-Bold';
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;

    color: #313131;
}

.pricing_card_button {
    width: 255px;
    height: 60px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #000000;

    background: #ffffff;
    border: 1px solid #514040;
    border-radius: 5px;
}

.pricing_card_button:hover {
    background: #49AD09;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    color: #ffffff;
    border: 0 solid;

    transform: scale(1.05);
}

.bottom_button {
    width: 255px;
    height: 60px;
    margin: 0 auto 130px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #FFFFFF;

    background: #49AD09;
    border-radius: 5px;
}

.bottom_button:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.10);
}

.footer_blocks {
    flex-wrap: wrap;
    margin: 0 auto 80px auto;
    display: flex;
    justify-content: space-around;
}

.footer_dev {
    font-family: 'Gilroy-Bold';

    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    
    color: #1C1C1D;
}

.footer_lists {
    margin-bottom: 40px;

    font-family: 'Gilroy-Semibold';

    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    
    color: #1C1C1D;
}

.footer_list_item {
    margin-bottom: 25px;
    padding: 0;

    font-family: 'Gilroy-Semibold';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #313131;
}

.footer_list {
    list-style: none;
    padding: 0;
}

.bottom_line {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.fotter_bottom_text {
    text-align: center;

    font-family: 'Gilroy-Bold';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;


    color: #313131;
}