@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?b9e1mq');
    src:  url('fonts/icomoon.eot?b9e1mq#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?b9e1mq') format('truetype'),
      url('fonts/icomoon.woff?b9e1mq') format('woff'),
      url('fonts/icomoon.svg?b9e1mq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.social_img {
    display: flex;
    width: 130px;
}

.icon_bcg {
    display: grid;
    text-align: center;
    align-content: center;
    width: 30px;
    height: 28px;
    margin-right: 5%;
    border-radius: 8px;
    background: #F2F2F2;
}

.icon-Icon-:before {
    content: "\e900";
    color: #313131;
}

.icon-Icon-1:before {
    content: "\e901";
    color: #313131;
}

.icon-Icon-2:before {
    content: "\e902";
    color: #313131;
}

.icon-Icon-3:before {
    content: "\e903";
    color: #514040;
}

body {
    position: relative;
    overflow-x: hidden;
    margin: auto;

    background: #FFFFFF;
}

.main {
    width: 100%;
}

.main_decor {
    overflow: hidden;
}

.decor_ellipse_3 {
    position: absolute;
    z-index: 2;
    right: -145px;
    top: -80px;
}

.decor_vector_1 {
    position: absolute;
    z-index: -1;
    top: 730px;
    left: -75px;
}

.decor_ellipse_1 {
    position: absolute;
    z-index: -1;
    top: 1360px;
    right: -130px;
}

.decor_ellipse_2 {
    position: absolute;
    z-index: -1;
    top: 2390px;
    left: -150px;
}

.decor_vector_2 {
    position: absolute;
    z-index: -1;
    top: 3850px;
    right: -10px;
}

.decor_rectangle_375 {
    position: absolute;
    z-index: -1;
    top: 4920px;
    left: -20px;
}

.decor_rectangle_374 {
    position: absolute;
    z-index: -1;
    top: 5750px;
    right: -35px;
}

.block_titles {
    text-align: center;
    margin: 0 auto 80px auto;
    max-width: 440px;
}

.block_titles h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #514040;
}

.block_titles h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;

    color: #313131;
}

.main_units {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 140px auto;
}

.cards_lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 80px auto;
}

.button {
    padding: 15px 40px;

    transition: 0.3s;

    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #514040;
    border: 1px solid #514040;
    border-radius: 5px;
}

.button:hover {
    background: #49AD09;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.05);
    color: #FFFFFF;
    border: 1px solid #49AD09;
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
}

.header_title {
    margin-left: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #313131;
}

.header_right {
    display: flex;
    margin-right: 80px;
}

.header_nadavigation_elements {
    display: flex;
}

.header_nadavigation_element {
    margin: auto 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #313131;
}

.header a {
    text-decoration: none;
}

.header_sign {
    display: flex;
    align-items: center;
}

.header_sign_element {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #313131;
}


/* Hero_content */
.hero_content {
    position: relative;
    width: 100%;
    height: 901px;
    margin-bottom: 75px;

    background: #F2F2F2;
}

.central_hero_content_block {
    position: absolute;
    width: 490px;
    margin: 0;              
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.central_hero_content_block h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    line-height: 80px;

    text-align: center;
    letter-spacing: -0.05em;

    color: #313131;
}

.central_hero_content_block p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.9%;

    text-align: center;

    color: #514040;
}

.site_types {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    line-height: 80px;

    text-align: center;
    letter-spacing: -0.05em;

    color: #49AD09;
}

.central_hero_content_block_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.central_hero_content_block_link {
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #514040;
}

.hero_content_img {
    display: flex;
    justify-content: space-between;
    padding-top: 175px;
}

/* Logo */
.logo img:nth-child(1) {
    margin-left: 0;
}

.logo img:nth-last-child(1) {
    margin-right: 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 140px auto;
}

.logo_img {
    margin: 0 5% 20px 5%;
    align-self: center;
}

/* Service */
.services {
    width: 800px;
}

.service_card {
    display: flex;
    flex-wrap: inherit;
    align-content: space-between;

    width: 300px;
    padding: 40px 30px;
    margin: 2%;

    background-color: white;
    border: 1px solid #EDEDED;
    border-radius: 5px;

    transition: 1s;
}

.service_card:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border: 1px solid #ffffff;
}

.service_card_titles {
    display: flex;
    align-items: center;
}

.service_card_title_img {
    margin-right: 15px;
}

.service_card h4 {
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 147.9%;

    color: #313131;
}

.service_card p {
    margin: 30px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.9%;

    color: #514040;
}

.service_card a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;

    color: #313131;
}

.service_card a:active {
    color: #49AD09;
}

/* Portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1020px;
}

.portfolio_cards div:nth-child(odd){
    margin: 5% 5% 0 0;
}

.portfolio_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio_links {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #49AD09;
}

.portfolio_card_titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

/* Testimonials */
.testimonials {
    width: 600px;
}

.testimonial_card {
    width: 380px;
    padding: 20px 30px;
    margin: 1% auto;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    
    transition: 1s;
}

.testimonial_card:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;

    border: 1px solid #ffffff;
}

.testimonial_title,
.testimonial_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #32435C;
}

.testimonial_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.01em;

    color: #6A635B;
}

/* Pricing */
.pricing_card {
    position: relative;
    margin: 2%;

    text-align: center;
    width: 360px;
    height: 510px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    transition: 1s;
    background-color: #FFFFFF;


}

.pricing_card:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;
    background-color: #FFFFFF;
}

.pricing_card:hover .button {
    background: #49AD09;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    transform: scale(1.05);
    color: #FFFFFF;
    border: 1px solid #49AD09;
}

.pricing_card div {
    height: 33%;
}

.pricing_disc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_bottom {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.pricing_cards ul {
    list-style-image: url('../img/list_marker.png');
    text-align: left;
    padding: 0;
}

.pricing_cards li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    text-transform: capitalize;

    color: #514040;
}

.pricing_card h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-transform: capitalize;

    color: #313131;
}

.pricing_card h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

/* Footer */
.footer_title {
    margin-bottom: 80px;
}

.footer_blocks {
    flex-wrap: wrap;
    margin: 0 auto 80px auto;
    display: flex;
    justify-content: space-around;
}

.footer_dev {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 800;
    font-size: 35px;
    line-height: 21px;

    color: #313131;
}

.footer_lists {
    margin-bottom: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #1C1C1D;
}

.footer_list_item {
    margin-bottom: 25px;
    padding: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #313131;
    }

.footer_list {
    list-style: none;
    padding: 0;
}

.email_form {
    position: relative;    
}

.email_form_text {
    position: absolute;
    top: 14px;
    left: 12px;
    
    transition: 0.3s;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #514040;
}

.email_form_text:hover {
    opacity: 0;
}

.email_enter {
    padding-left: 10px;
    width: 175px;
    height: 40px;
    border: none;
    background: #F2F2F2;
    border-radius: 4px;
}

.email_enter::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #514040;
}

.email_form_button {
    opacity: 0.5;
    right: 2px;
    font-size: 21px;
    top: 10px;
    position: absolute;
    border: none;
    background: none;

    transition: 0.2s;
}

.email_form_button:hover {
    opacity: 1;
}

.bottom_line {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.fotter_bottom_text {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #313131;
}

.itcss__wrapper {
    height: 430px;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
}

.itcss__item>div::before {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}

.btn_wrapper {
    position: absolute;
    bottom: 20px;
    background-color:#ffffff;
    border-radius: 40px;
    display: flex;
    width: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    cursor: pointer;
    margin: 6px 3px;
    -webkit-appearance: button;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn_icon {
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    top: -4%;
    left: 20%;
}

.btn_prev {
    position: relative;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.btn_next {
    position: relative;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 390px) and (max-width: 500px) {
    .body {
        overflow-x: hidden;
    }
    
    .main_units {
        width: 95%;
    }

    .hero_content_img {
        display: none;
    }

    .central_hero_content_block {
        width: 100%;
    }

    .portfolio_cards {
        width: 340px;
    }
    
    .portfolio_img {
        width: 340px;
    }

    .itcss__wrapper {
        height: 450px;
    }
    
    .testimonial_card {
        width: 75%;
    }
}